@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab&display=swap') ;

* {
  box-sizing: border-box;
}

:root {
  --primary: #0596FF;
  --secondary: #366bf426;
  --text: #fff;
  --text-dark: #0F0F0F;
  --background: #2B2B2B;
  --black: #0F0F0F;
  --white: #FFFFFF;
  --blue: #0596FF;
  --gray: #2B2B2B;
  --grey: #2B2B2B;
  --purple: #A375FF;
  --green: #00A39B;
  --red: #FF5269;
  --yellow: #B88D00;
  --light-gray: #d3d3d3;
}

html,
body {
  position: relative;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  background: var(--background);
}
body.modalOpen {
  overflow: hidden;
}